<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        
    <div class="box">
                <div id="17db8e62d0eb41a7beeeba2bfc79a8af" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 728.2000122070312px; left: 909.0000610351562px;"></div>
    <script>
        var chart_17db8e62d0eb41a7beeeba2bfc79a8af = echarts.init(
            document.getElementById('17db8e62d0eb41a7beeeba2bfc79a8af'), 'white', {renderer: 'canvas'});
        var option_17db8e62d0eb41a7beeeba2bfc79a8af = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u751f\u547d\u503c",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u51ef\u4e9a",
                    11636
                ],
                [
                    "\u91cd\u4e91",
                    10984
                ],
                [
                    "\u4e03\u4e03",
                    12368
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    9570
                ],
                [
                    "\u7518\u96e8",
                    9797
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    12289
                ],
                [
                    "\u4f18\u83c8",
                    13226
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    12858
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    10899
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9632\u5fa1\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u51ef\u4e9a",
                    792
                ],
                [
                    "\u91cd\u4e91",
                    648
                ],
                [
                    "\u4e03\u4e03",
                    922
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    601
                ],
                [
                    "\u7518\u96e8",
                    630
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    710
                ],
                [
                    "\u4f18\u83c8",
                    751
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    784
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    676
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u653b\u51fb\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u51ef\u4e9a",
                    223
                ],
                [
                    "\u91cd\u4e91",
                    223
                ],
                [
                    "\u4e03\u4e03",
                    287
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    212
                ],
                [
                    "\u7518\u96e8",
                    335
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    249
                ],
                [
                    "\u4f18\u83c8",
                    342
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    342
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    234
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u51ef\u4e9a",
                "\u91cd\u4e91",
                "\u4e03\u4e03",
                "\u8fea\u5965\u5a1c",
                "\u7518\u96e8",
                "\u7f57\u838e\u8389\u4e9a",
                "\u4f18\u83c8",
                "\u795e\u91cc\u7eeb\u534e",
                "\u57c3\u6d1b\u4f0a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6298\u7ebf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_17db8e62d0eb41a7beeeba2bfc79a8af.setOption(option_17db8e62d0eb41a7beeeba2bfc79a8af);
    </script>
<br/>                <div id="5fb76654772548b383d424d8d61ae1d0" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 727.4666748046875px; left: 8px;"></div>
    <script>
        var chart_5fb76654772548b383d424d8d61ae1d0 = echarts.init(
            document.getElementById('5fb76654772548b383d424d8d61ae1d0'), 'white', {renderer: 'canvas'});
        var option_5fb76654772548b383d424d8d61ae1d0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u51ef\u4e9a",
                    11636
                ],
                [
                    "\u91cd\u4e91",
                    10984
                ],
                [
                    "\u4e03\u4e03",
                    12368
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    9570
                ],
                [
                    "\u7518\u96e8",
                    9797
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    12289
                ],
                [
                    "\u4f18\u83c8",
                    13226
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    12858
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    10899
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u51ef\u4e9a",
                    792
                ],
                [
                    "\u91cd\u4e91",
                    648
                ],
                [
                    "\u4e03\u4e03",
                    922
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    601
                ],
                [
                    "\u7518\u96e8",
                    630
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    710
                ],
                [
                    "\u4f18\u83c8",
                    751
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    784
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    676
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u51ef\u4e9a",
                    223
                ],
                [
                    "\u91cd\u4e91",
                    223
                ],
                [
                    "\u4e03\u4e03",
                    287
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    212
                ],
                [
                    "\u7518\u96e8",
                    335
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    249
                ],
                [
                    "\u4f18\u83c8",
                    342
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    342
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    234
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u51ef\u4e9a",
                "\u91cd\u4e91",
                "\u4e03\u4e03",
                "\u8fea\u5965\u5a1c",
                "\u7518\u96e8",
                "\u7f57\u838e\u8389\u4e9a",
                "\u4f18\u83c8",
                "\u795e\u91cc\u7eeb\u534e",
                "\u57c3\u6d1b\u4f0a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u51b0\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_5fb76654772548b383d424d8d61ae1d0.setOption(option_5fb76654772548b383d424d8d61ae1d0);
    </script>
<br/>                <div id="f8ca66468c5d427a8c5357f62ced36ea" class="chart-container" style="position: absolute; width: 1968.86666px; height: 700.86666px; top: 25.733335494995117px; left: 8px;"></div>
    <script>
        var chart_f8ca66468c5d427a8c5357f62ced36ea = echarts.init(
            document.getElementById('f8ca66468c5d427a8c5357f62ced36ea'), 'white', {renderer: 'canvas'});
        var option_f8ca66468c5d427a8c5357f62ced36ea = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u751f\u547d\u503c",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9632\u5fa1\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u653b\u51fb\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "dataset": [
        {
            "source": [
                [
                    "produce",
                    "\u751f\u547d\u503c",
                    "\u9632\u5fa1\u529b",
                    "\u653b\u51fb\u529b"
                ],
                [
                    "\u51ef\u4e9a",
                    11636,
                    792,
                    223
                ],
                [
                    "\u91cd\u4e91",
                    10984,
                    648,
                    223
                ],
                [
                    "\u4e03\u4e03",
                    12368,
                    922,
                    287
                ],
                [
                    "\u8fea\u5965\u5a1c",
                    9570,
                    601,
                    212
                ],
                [
                    "\u7518\u96e8",
                    9797,
                    630,
                    335
                ],
                [
                    "\u7f57\u838e\u8389\u4e9a",
                    12289,
                    710,
                    249
                ],
                [
                    "\u4f18\u83c8",
                    13226,
                    751,
                    342
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    12858,
                    784,
                    342
                ],
                [
                    "\u57c3\u6d1b\u4f0a",
                    10899,
                    676,
                    234
                ]
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u51b0\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_f8ca66468c5d427a8c5357f62ced36ea.setOption(option_f8ca66468c5d427a8c5357f62ced36ea);
    </script>
<br/>    </div>
    <script>
            $('#17db8e62d0eb41a7beeeba2bfc79a8af').css('border-style', 'dashed').css('border-width', '0px');$("#17db8e62d0eb41a7beeeba2bfc79a8af>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#17db8e62d0eb41a7beeeba2bfc79a8af'), function() { chart_17db8e62d0eb41a7beeeba2bfc79a8af.resize()});
            $('#5fb76654772548b383d424d8d61ae1d0').css('border-style', 'dashed').css('border-width', '0px');$("#5fb76654772548b383d424d8d61ae1d0>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#5fb76654772548b383d424d8d61ae1d0'), function() { chart_5fb76654772548b383d424d8d61ae1d0.resize()});
            $('#f8ca66468c5d427a8c5357f62ced36ea').css('border-style', 'dashed').css('border-width', '0px');$("#f8ca66468c5d427a8c5357f62ced36ea>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#f8ca66468c5d427a8c5357f62ced36ea'), function() { chart_f8ca66468c5d427a8c5357f62ced36ea.resize()});
            var charts_id = ['17db8e62d0eb41a7beeeba2bfc79a8af','5fb76654772548b383d424d8d61ae1d0','f8ca66468c5d427a8c5357f62ced36ea'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
