<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        
    <div class="box">
                <div id="d242373ff2c640e9a48a257691ff6fb9" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 721px; left: 9px;"></div>
    <script>
        var chart_d242373ff2c640e9a48a257691ff6fb9 = echarts.init(
            document.getElementById('d242373ff2c640e9a48a257691ff6fb9'), 'white', {renderer: 'canvas'});
        var option_d242373ff2c640e9a48a257691ff6fb9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u751f\u547d\u503c",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    12071
                ],
                [
                    "\u51dd\u5149",
                    9789
                ],
                [
                    "\u949f\u79bb",
                    14695
                ],
                [
                    "\u963f\u8d1d\u591a",
                    13226
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9632\u5fa1\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    799
                ],
                [
                    "\u51dd\u5149",
                    573
                ],
                [
                    "\u949f\u79bb",
                    738
                ],
                [
                    "\u963f\u8d1d\u591a",
                    876
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u653b\u51fb\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    191
                ],
                [
                    "\u51dd\u5149",
                    213
                ],
                [
                    "\u949f\u79bb",
                    251
                ],
                [
                    "\u963f\u8d1d\u591a",
                    251
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8bfa\u827e\u5c14",
                "\u51dd\u5149",
                "\u949f\u79bb",
                "\u963f\u8d1d\u591a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6298\u7ebf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d242373ff2c640e9a48a257691ff6fb9.setOption(option_d242373ff2c640e9a48a257691ff6fb9);
    </script>
<br/>                <div id="b1c19d0316c44bdfa7089775bf2f0993" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 720px; left: 911px;"></div>
    <script>
        var chart_b1c19d0316c44bdfa7089775bf2f0993 = echarts.init(
            document.getElementById('b1c19d0316c44bdfa7089775bf2f0993'), 'white', {renderer: 'canvas'});
        var option_b1c19d0316c44bdfa7089775bf2f0993 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    12071
                ],
                [
                    "\u51dd\u5149",
                    9789
                ],
                [
                    "\u949f\u79bb",
                    14695
                ],
                [
                    "\u963f\u8d1d\u591a",
                    13226
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    799
                ],
                [
                    "\u51dd\u5149",
                    573
                ],
                [
                    "\u949f\u79bb",
                    738
                ],
                [
                    "\u963f\u8d1d\u591a",
                    876
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u8bfa\u827e\u5c14",
                    191
                ],
                [
                    "\u51dd\u5149",
                    213
                ],
                [
                    "\u949f\u79bb",
                    251
                ],
                [
                    "\u963f\u8d1d\u591a",
                    251
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8bfa\u827e\u5c14",
                "\u51dd\u5149",
                "\u949f\u79bb",
                "\u963f\u8d1d\u591a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u5ca9\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_b1c19d0316c44bdfa7089775bf2f0993.setOption(option_b1c19d0316c44bdfa7089775bf2f0993);
    </script>
<br/>                <div id="1a68aa7240ed4914a4d7144ae7d561b8" class="chart-container" style="position: absolute; width: 1802px; height: 691px; top: 28px; left: 9px;"></div>
    <script>
        var chart_1a68aa7240ed4914a4d7144ae7d561b8 = echarts.init(
            document.getElementById('1a68aa7240ed4914a4d7144ae7d561b8'), 'white', {renderer: 'canvas'});
        var option_1a68aa7240ed4914a4d7144ae7d561b8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u751f\u547d\u503c",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9632\u5fa1\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u653b\u51fb\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "dataset": [
        {
            "source": [
                [
                    "produce",
                    "\u751f\u547d\u503c",
                    "\u9632\u5fa1\u529b",
                    "\u653b\u51fb\u529b"
                ],
                [
                    "\u8bfa\u827e\u5c14",
                    12071,
                    799,
                    191
                ],
                [
                    "\u51dd\u5149",
                    9789,
                    573,
                    213
                ],
                [
                    "\u949f\u79bb",
                    14695,
                    738,
                    251
                ],
                [
                    "\u963f\u8d1d\u591a",
                    13226,
                    876,
                    251
                ]
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u5ca9\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_1a68aa7240ed4914a4d7144ae7d561b8.setOption(option_1a68aa7240ed4914a4d7144ae7d561b8);
    </script>
<br/>    </div>
    <script>
            $('#d242373ff2c640e9a48a257691ff6fb9').css('border-style', 'dashed').css('border-width', '0px');$("#d242373ff2c640e9a48a257691ff6fb9>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#d242373ff2c640e9a48a257691ff6fb9'), function() { chart_d242373ff2c640e9a48a257691ff6fb9.resize()});
            $('#b1c19d0316c44bdfa7089775bf2f0993').css('border-style', 'dashed').css('border-width', '0px');$("#b1c19d0316c44bdfa7089775bf2f0993>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#b1c19d0316c44bdfa7089775bf2f0993'), function() { chart_b1c19d0316c44bdfa7089775bf2f0993.resize()});
            $('#1a68aa7240ed4914a4d7144ae7d561b8').css('border-style', 'dashed').css('border-width', '0px');$("#1a68aa7240ed4914a4d7144ae7d561b8>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#1a68aa7240ed4914a4d7144ae7d561b8'), function() { chart_1a68aa7240ed4914a4d7144ae7d561b8.resize()});
            var charts_id = ['d242373ff2c640e9a48a257691ff6fb9','b1c19d0316c44bdfa7089775bf2f0993','1a68aa7240ed4914a4d7144ae7d561b8'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
