<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        
    <div class="box">
                <div id="866be123567e41ba924834f5823c9d8f" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 701.2000122070312px; left: 9px;"></div>
    <script>
        var chart_866be123567e41ba924834f5823c9d8f = echarts.init(
            document.getElementById('866be123567e41ba924834f5823c9d8f'), 'white', {renderer: 'canvas'});
        var option_866be123567e41ba924834f5823c9d8f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u751f\u547d\u503c",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5b89\u67cf",
                    9461
                ],
                [
                    "\u53ef\u8389",
                    10287
                ],
                [
                    "\u8fea\u5362\u514b",
                    12981
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    12397
                ],
                [
                    "\u9999\u83f1",
                    10875
                ],
                [
                    "\u8f9b\u7131",
                    11201
                ],
                [
                    "\u80e1\u6843",
                    15552
                ],
                [
                    "\u70df\u7eef",
                    9352
                ],
                [
                    "\u5bb5\u5bab",
                    10164
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9632\u5fa1\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5b89\u67cf",
                    601
                ],
                [
                    "\u53ef\u8389",
                    615
                ],
                [
                    "\u8fea\u5362\u514b",
                    784
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    771
                ],
                [
                    "\u9999\u83f1",
                    669
                ],
                [
                    "\u8f9b\u7131",
                    799
                ],
                [
                    "\u80e1\u6843",
                    876
                ],
                [
                    "\u70df\u7eef",
                    587
                ],
                [
                    "\u5bb5\u5bab",
                    615
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u653b\u51fb\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5b89\u67cf",
                    223
                ],
                [
                    "\u53ef\u8389",
                    311
                ],
                [
                    "\u8fea\u5362\u514b",
                    335
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    191
                ],
                [
                    "\u9999\u83f1",
                    225
                ],
                [
                    "\u8f9b\u7131",
                    249
                ],
                [
                    "\u80e1\u6843",
                    107
                ],
                [
                    "\u70df\u7eef",
                    240
                ],
                [
                    "\u5bb5\u5bab",
                    323
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5b89\u67cf",
                "\u53ef\u8389",
                "\u8fea\u5362\u514b",
                "\u73ed\u5c3c\u7279",
                "\u9999\u83f1",
                "\u8f9b\u7131",
                "\u80e1\u6843",
                "\u70df\u7eef",
                "\u5bb5\u5bab"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6298\u7ebf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_866be123567e41ba924834f5823c9d8f.setOption(option_866be123567e41ba924834f5823c9d8f);
    </script>
<br/>                <div id="60751a599b0e4c779e876530ff8f58f4" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 701.4666748046875px; left: 910.0000610351562px;"></div>
    <script>
        var chart_60751a599b0e4c779e876530ff8f58f4 = echarts.init(
            document.getElementById('60751a599b0e4c779e876530ff8f58f4'), 'white', {renderer: 'canvas'});
        var option_60751a599b0e4c779e876530ff8f58f4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u5b89\u67cf",
                    9461
                ],
                [
                    "\u53ef\u8389",
                    10287
                ],
                [
                    "\u8fea\u5362\u514b",
                    12981
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    12397
                ],
                [
                    "\u9999\u83f1",
                    10875
                ],
                [
                    "\u8f9b\u7131",
                    11201
                ],
                [
                    "\u80e1\u6843",
                    15552
                ],
                [
                    "\u70df\u7eef",
                    9352
                ],
                [
                    "\u5bb5\u5bab",
                    10164
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u5b89\u67cf",
                    601
                ],
                [
                    "\u53ef\u8389",
                    615
                ],
                [
                    "\u8fea\u5362\u514b",
                    784
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    771
                ],
                [
                    "\u9999\u83f1",
                    669
                ],
                [
                    "\u8f9b\u7131",
                    799
                ],
                [
                    "\u80e1\u6843",
                    876
                ],
                [
                    "\u70df\u7eef",
                    587
                ],
                [
                    "\u5bb5\u5bab",
                    615
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u5b89\u67cf",
                    223
                ],
                [
                    "\u53ef\u8389",
                    311
                ],
                [
                    "\u8fea\u5362\u514b",
                    335
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    191
                ],
                [
                    "\u9999\u83f1",
                    225
                ],
                [
                    "\u8f9b\u7131",
                    249
                ],
                [
                    "\u80e1\u6843",
                    107
                ],
                [
                    "\u70df\u7eef",
                    240
                ],
                [
                    "\u5bb5\u5bab",
                    323
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5b89\u67cf",
                "\u53ef\u8389",
                "\u8fea\u5362\u514b",
                "\u73ed\u5c3c\u7279",
                "\u9999\u83f1",
                "\u8f9b\u7131",
                "\u80e1\u6843",
                "\u70df\u7eef",
                "\u5bb5\u5bab"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u706b\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_60751a599b0e4c779e876530ff8f58f4.setOption(option_60751a599b0e4c779e876530ff8f58f4);
    </script>
<br/>                <div id="71b29a8312cf46de948c4db13aa2dd9f" class="chart-container" style="position: absolute; width: 2004.86666px; height: 673.86666px; top: 25.733335494995117px; left: 8px;"></div>
    <script>
        var chart_71b29a8312cf46de948c4db13aa2dd9f = echarts.init(
            document.getElementById('71b29a8312cf46de948c4db13aa2dd9f'), 'white', {renderer: 'canvas'});
        var option_71b29a8312cf46de948c4db13aa2dd9f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u751f\u547d\u503c",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9632\u5fa1\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u653b\u51fb\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "dataset": [
        {
            "source": [
                [
                    "produce",
                    "\u751f\u547d\u503c",
                    "\u9632\u5fa1\u529b",
                    "\u653b\u51fb\u529b"
                ],
                [
                    "\u5b89\u67cf",
                    9461,
                    601,
                    223
                ],
                [
                    "\u53ef\u8389",
                    10287,
                    615,
                    311
                ],
                [
                    "\u8fea\u5362\u514b",
                    12981,
                    784,
                    335
                ],
                [
                    "\u73ed\u5c3c\u7279",
                    12397,
                    771,
                    191
                ],
                [
                    "\u9999\u83f1",
                    10875,
                    669,
                    225
                ],
                [
                    "\u8f9b\u7131",
                    11201,
                    799,
                    249
                ],
                [
                    "\u80e1\u6843",
                    15552,
                    876,
                    107
                ],
                [
                    "\u70df\u7eef",
                    9352,
                    587,
                    240
                ],
                [
                    "\u5bb5\u5bab",
                    10164,
                    615,
                    323
                ]
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u706b\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_71b29a8312cf46de948c4db13aa2dd9f.setOption(option_71b29a8312cf46de948c4db13aa2dd9f);
    </script>
<br/>    </div>
    <script>
            $('#866be123567e41ba924834f5823c9d8f').css('border-style', 'dashed').css('border-width', '0px');$("#866be123567e41ba924834f5823c9d8f>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#866be123567e41ba924834f5823c9d8f'), function() { chart_866be123567e41ba924834f5823c9d8f.resize()});
            $('#60751a599b0e4c779e876530ff8f58f4').css('border-style', 'dashed').css('border-width', '0px');$("#60751a599b0e4c779e876530ff8f58f4>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#60751a599b0e4c779e876530ff8f58f4'), function() { chart_60751a599b0e4c779e876530ff8f58f4.resize()});
            $('#71b29a8312cf46de948c4db13aa2dd9f').css('border-style', 'dashed').css('border-width', '0px');$("#71b29a8312cf46de948c4db13aa2dd9f>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#71b29a8312cf46de948c4db13aa2dd9f'), function() { chart_71b29a8312cf46de948c4db13aa2dd9f.resize()});
            var charts_id = ['866be123567e41ba924834f5823c9d8f','60751a599b0e4c779e876530ff8f58f4','71b29a8312cf46de948c4db13aa2dd9f'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
