<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="b58bdbfee1534985890aa6d3335409f9" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b58bdbfee1534985890aa6d3335409f9 = echarts.init(
            document.getElementById('b58bdbfee1534985890aa6d3335409f9'), 'white', {renderer: 'canvas'});
        var option_b58bdbfee1534985890aa6d3335409f9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u8fea\u5362\u514b",
                    12981
                ],
                [
                    "\u5bb5\u5bab",
                    10164
                ],
                [
                    "\u4f18\u83c8",
                    13226
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    12858
                ],
                [
                    "\u523b\u6674",
                    13103
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    12907
                ],
                [
                    "\u9b48",
                    12736
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u8fea\u5362\u514b",
                    784
                ],
                [
                    "\u5bb5\u5bab",
                    615
                ],
                [
                    "\u4f18\u83c8",
                    751
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    784
                ],
                [
                    "\u523b\u6674",
                    799
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    789
                ],
                [
                    "\u9b48",
                    799
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u8fea\u5362\u514b",
                    335
                ],
                [
                    "\u5bb5\u5bab",
                    323
                ],
                [
                    "\u4f18\u83c8",
                    342
                ],
                [
                    "\u795e\u91cc\u7eeb\u534e",
                    342
                ],
                [
                    "\u523b\u6674",
                    323
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    337
                ],
                [
                    "\u9b48",
                    349
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8fea\u5362\u514b",
                "\u5bb5\u5bab",
                "\u4f18\u83c8",
                "\u795e\u91cc\u7eeb\u534e",
                "\u523b\u6674",
                "\u96f7\u7535\u5c06\u519b",
                "\u9b48"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6570\u636e\u663e\u793a-\u6d6e\u70b9\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_b58bdbfee1534985890aa6d3335409f9.setOption(option_b58bdbfee1534985890aa6d3335409f9);
    </script>
</body>
</html>
