<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        
    <div class="box">
                <div id="c494cc8412bf4e3290a29c54c364b17b" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 691.2000122070312px; left: 8px;"></div>
    <script>
        var chart_c494cc8412bf4e3290a29c54c364b17b = echarts.init(
            document.getElementById('c494cc8412bf4e3290a29c54c364b17b'), 'white', {renderer: 'canvas'});
        var option_c494cc8412bf4e3290a29c54c364b17b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u751f\u547d\u503c",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e3d\u838e",
                    9570
                ],
                [
                    "\u96f7\u6cfd",
                    11962
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    9189
                ],
                [
                    "\u5317\u6597",
                    13050
                ],
                [
                    "\u523b\u6674",
                    13103
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    12907
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    9570
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9632\u5fa1\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e3d\u838e",
                    573
                ],
                [
                    "\u96f7\u6cfd",
                    751
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    594
                ],
                [
                    "\u5317\u6597",
                    648
                ],
                [
                    "\u523b\u6674",
                    799
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    789
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    628
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u653b\u51fb\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e3d\u838e",
                    232
                ],
                [
                    "\u96f7\u6cfd",
                    234
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    245
                ],
                [
                    "\u5317\u6597",
                    225
                ],
                [
                    "\u523b\u6674",
                    323
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    337
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    195
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e3d\u838e",
                "\u96f7\u6cfd",
                "\u83f2\u8c22\u5c14",
                "\u5317\u6597",
                "\u523b\u6674",
                "\u96f7\u7535\u5c06\u519b",
                "\u4e5d\u6761\u88df\u7f57"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6298\u7ebf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_c494cc8412bf4e3290a29c54c364b17b.setOption(option_c494cc8412bf4e3290a29c54c364b17b);
    </script>
<br/>                <div id="b1376523080a4459b01c889fec9d3d37" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 691.4666748046875px; left: 909.0000610351562px;"></div>
    <script>
        var chart_b1376523080a4459b01c889fec9d3d37 = echarts.init(
            document.getElementById('b1376523080a4459b01c889fec9d3d37'), 'white', {renderer: 'canvas'});
        var option_b1376523080a4459b01c889fec9d3d37 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u4e3d\u838e",
                    9570
                ],
                [
                    "\u96f7\u6cfd",
                    11962
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    9189
                ],
                [
                    "\u5317\u6597",
                    13050
                ],
                [
                    "\u523b\u6674",
                    13103
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    12907
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    9570
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u4e3d\u838e",
                    573
                ],
                [
                    "\u96f7\u6cfd",
                    751
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    594
                ],
                [
                    "\u5317\u6597",
                    648
                ],
                [
                    "\u523b\u6674",
                    799
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    789
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    628
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u4e3d\u838e",
                    232
                ],
                [
                    "\u96f7\u6cfd",
                    234
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    245
                ],
                [
                    "\u5317\u6597",
                    225
                ],
                [
                    "\u523b\u6674",
                    323
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    337
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    195
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e3d\u838e",
                "\u96f7\u6cfd",
                "\u83f2\u8c22\u5c14",
                "\u5317\u6597",
                "\u523b\u6674",
                "\u96f7\u7535\u5c06\u519b",
                "\u4e5d\u6761\u88df\u7f57"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u96f7\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_b1376523080a4459b01c889fec9d3d37.setOption(option_b1376523080a4459b01c889fec9d3d37);
    </script>
<br/>                <div id="4ba58d9490bb4c66835f7e8a468356ec" class="chart-container" style="position: absolute; width: 2004.86666px; height: 663.86666px; top: 25.733335494995117px; left: 10.000000953674316px;"></div>
    <script>
        var chart_4ba58d9490bb4c66835f7e8a468356ec = echarts.init(
            document.getElementById('4ba58d9490bb4c66835f7e8a468356ec'), 'white', {renderer: 'canvas'});
        var option_4ba58d9490bb4c66835f7e8a468356ec = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u751f\u547d\u503c",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9632\u5fa1\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u653b\u51fb\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "dataset": [
        {
            "source": [
                [
                    "produce",
                    "\u751f\u547d\u503c",
                    "\u9632\u5fa1\u529b",
                    "\u653b\u51fb\u529b"
                ],
                [
                    "\u4e3d\u838e",
                    9570,
                    573,
                    232
                ],
                [
                    "\u96f7\u6cfd",
                    11962,
                    751,
                    234
                ],
                [
                    "\u83f2\u8c22\u5c14",
                    9189,
                    594,
                    245
                ],
                [
                    "\u5317\u6597",
                    13050,
                    648,
                    225
                ],
                [
                    "\u523b\u6674",
                    13103,
                    799,
                    323
                ],
                [
                    "\u96f7\u7535\u5c06\u519b",
                    12907,
                    789,
                    337
                ],
                [
                    "\u4e5d\u6761\u88df\u7f57",
                    9570,
                    628,
                    195
                ]
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u96f7\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_4ba58d9490bb4c66835f7e8a468356ec.setOption(option_4ba58d9490bb4c66835f7e8a468356ec);
    </script>
<br/>    </div>
    <script>
            $('#c494cc8412bf4e3290a29c54c364b17b').css('border-style', 'dashed').css('border-width', '0px');$("#c494cc8412bf4e3290a29c54c364b17b>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#c494cc8412bf4e3290a29c54c364b17b'), function() { chart_c494cc8412bf4e3290a29c54c364b17b.resize()});
            $('#b1376523080a4459b01c889fec9d3d37').css('border-style', 'dashed').css('border-width', '0px');$("#b1376523080a4459b01c889fec9d3d37>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#b1376523080a4459b01c889fec9d3d37'), function() { chart_b1376523080a4459b01c889fec9d3d37.resize()});
            $('#4ba58d9490bb4c66835f7e8a468356ec').css('border-style', 'dashed').css('border-width', '0px');$("#4ba58d9490bb4c66835f7e8a468356ec>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#4ba58d9490bb4c66835f7e8a468356ec'), function() { chart_4ba58d9490bb4c66835f7e8a468356ec.resize()});
            var charts_id = ['c494cc8412bf4e3290a29c54c364b17b','b1376523080a4459b01c889fec9d3d37','4ba58d9490bb4c66835f7e8a468356ec'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
