<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        
    <div class="box">
                <div id="d4338ba3467f4701a5498e42426172ad" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 720.2000122070312px; left: 912.0000610351562px;"></div>
    <script>
        var chart_d4338ba3467f4701a5498e42426172ad = echarts.init(
            document.getElementById('d4338ba3467f4701a5498e42426172ad'), 'white', {renderer: 'canvas'});
        var option_d4338ba3467f4701a5498e42426172ad = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u751f\u547d\u503c",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u7434",
                    14695
                ],
                [
                    "\u6e29\u8fea",
                    10531
                ],
                [
                    "\u7802\u7cd6",
                    9244
                ],
                [
                    "\u9b48",
                    12736
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    13348
                ],
                [
                    "\u65e9\u67da",
                    11854
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9632\u5fa1\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u7434",
                    769
                ],
                [
                    "\u6e29\u8fea",
                    669
                ],
                [
                    "\u7802\u7cd6",
                    703
                ],
                [
                    "\u9b48",
                    799
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    807
                ],
                [
                    "\u65e9\u67da",
                    745
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u653b\u51fb\u529b",
            "connectNulls": true,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u7434",
                    239
                ],
                [
                    "\u6e29\u8fea",
                    263
                ],
                [
                    "\u7802\u7cd6",
                    170
                ],
                [
                    "\u9b48",
                    349
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    297
                ],
                [
                    "\u65e9\u67da",
                    244
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7434",
                "\u6e29\u8fea",
                "\u7802\u7cd6",
                "\u9b48",
                "\u67ab\u539f\u4e07\u53f6",
                "\u65e9\u67da"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u6298\u7ebf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d4338ba3467f4701a5498e42426172ad.setOption(option_d4338ba3467f4701a5498e42426172ad);
    </script>
<br/>                <div id="546f2568671c4948952a6a18eb967ad8" class="chart-container" style="position: absolute; width: 899.86666px; height: 499.86666px; top: 720.4666748046875px; left: 10.000000953674316px;"></div>
    <script>
        var chart_546f2568671c4948952a6a18eb967ad8 = echarts.init(
            document.getElementById('546f2568671c4948952a6a18eb967ad8'), 'white', {renderer: 'canvas'});
        var option_546f2568671c4948952a6a18eb967ad8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u751f\u547d\u503c",
            "symbolSize": 10,
            "data": [
                [
                    "\u7434",
                    14695
                ],
                [
                    "\u6e29\u8fea",
                    10531
                ],
                [
                    "\u7802\u7cd6",
                    9244
                ],
                [
                    "\u9b48",
                    12736
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    13348
                ],
                [
                    "\u65e9\u67da",
                    11854
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u9632\u5fa1\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u7434",
                    769
                ],
                [
                    "\u6e29\u8fea",
                    669
                ],
                [
                    "\u7802\u7cd6",
                    703
                ],
                [
                    "\u9b48",
                    799
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    807
                ],
                [
                    "\u65e9\u67da",
                    745
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u653b\u51fb\u529b",
            "symbolSize": 10,
            "data": [
                [
                    "\u7434",
                    239
                ],
                [
                    "\u6e29\u8fea",
                    263
                ],
                [
                    "\u7802\u7cd6",
                    170
                ],
                [
                    "\u9b48",
                    349
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    297
                ],
                [
                    "\u65e9\u67da",
                    244
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7434",
                "\u6e29\u8fea",
                "\u7802\u7cd6",
                "\u9b48",
                "\u67ab\u539f\u4e07\u53f6",
                "\u65e9\u67da"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u98ce\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 20,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_546f2568671c4948952a6a18eb967ad8.setOption(option_546f2568671c4948952a6a18eb967ad8);
    </script>
<br/>                <div id="39c3c8e095cc4fe1bad6c14fe77f3bcd" class="chart-container" style="position: absolute; width: 1897.86666px; height: 691.86666px; top: 27.733335494995117px; left: -28.000001907348633px;"></div>
    <script>
        var chart_39c3c8e095cc4fe1bad6c14fe77f3bcd = echarts.init(
            document.getElementById('39c3c8e095cc4fe1bad6c14fe77f3bcd'), 'white', {renderer: 'canvas'});
        var option_39c3c8e095cc4fe1bad6c14fe77f3bcd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u751f\u547d\u503c",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9632\u5fa1\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u653b\u51fb\u529b",
            "legendHoverLink": true,
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u751f\u547d\u503c",
                "\u9632\u5fa1\u529b",
                "\u653b\u51fb\u529b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "dataset": [
        {
            "source": [
                [
                    "produce",
                    "\u751f\u547d\u503c",
                    "\u9632\u5fa1\u529b",
                    "\u653b\u51fb\u529b"
                ],
                [
                    "\u7434",
                    14695,
                    769,
                    239
                ],
                [
                    "\u6e29\u8fea",
                    10531,
                    669,
                    263
                ],
                [
                    "\u7802\u7cd6",
                    9244,
                    703,
                    170
                ],
                [
                    "\u9b48",
                    12736,
                    799,
                    349
                ],
                [
                    "\u67ab\u539f\u4e07\u53f6",
                    13348,
                    807,
                    297
                ],
                [
                    "\u65e9\u67da",
                    11854,
                    745,
                    244
                ]
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u98ce\u5c5e\u6027",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_39c3c8e095cc4fe1bad6c14fe77f3bcd.setOption(option_39c3c8e095cc4fe1bad6c14fe77f3bcd);
    </script>
<br/>    </div>
    <script>
            $('#d4338ba3467f4701a5498e42426172ad').css('border-style', 'dashed').css('border-width', '0px');$("#d4338ba3467f4701a5498e42426172ad>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#d4338ba3467f4701a5498e42426172ad'), function() { chart_d4338ba3467f4701a5498e42426172ad.resize()});
            $('#546f2568671c4948952a6a18eb967ad8').css('border-style', 'dashed').css('border-width', '0px');$("#546f2568671c4948952a6a18eb967ad8>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#546f2568671c4948952a6a18eb967ad8'), function() { chart_546f2568671c4948952a6a18eb967ad8.resize()});
            $('#39c3c8e095cc4fe1bad6c14fe77f3bcd').css('border-style', 'dashed').css('border-width', '0px');$("#39c3c8e095cc4fe1bad6c14fe77f3bcd>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#39c3c8e095cc4fe1bad6c14fe77f3bcd'), function() { chart_39c3c8e095cc4fe1bad6c14fe77f3bcd.resize()});
            var charts_id = ['d4338ba3467f4701a5498e42426172ad','546f2568671c4948952a6a18eb967ad8','39c3c8e095cc4fe1bad6c14fe77f3bcd'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
